%p 
  New order /
  = link_to 'Go to Admin panel', admin_card_url(@card)

%h5 ORDER DETAILS
%table
  %tbody
    - if @card.card_items.any?
      - @card.card_items.each do |card_item|
        %tr
          %td{ style: "padding-top: 10px;" } #{card_item.count} #{card_item.size} #{card_item.color.black? ? 'Black on Black' : 'White on Grey' } 
          %td{ style: "padding-top: 10px;" } - 
          %td{ style: "padding-top: 10px;" } $#{card_item.price}
      %tr
        %td{ style: "padding-top: 10px;" } Shipping:
        %td{ style: "padding-top: 10px;" } 
        %td{ style: "padding-top: 10px;" } $#{SHIPPING_PRICE}
      %tr 
        %td{ style: "padding-top: 10px;" } Total:
        %td{ style: "padding-top: 10px;" } 
        %td{ style: "padding-top: 10px;" } $#{@card.total_price}

%h5 SHIPPING ADDRESS
%p #{@card.shipping_first_name} #{@card.shipping_last_name} 
%p #{@card.shipping_address_1} 
%p #{@card.shipping_address_2} 
%p #{@card.shipping_city}, #{@card.shipping_state}, #{@card.shipping_zip}
