%p You just fucking ordered the shirts below:
%ul
  - @card.card_items.each do |card_item|
    %li #{card_item.count} #{'shirt'.pluralize(card_item.count)}((#{card_item.color})) - $#{card_item.price}

%p It's being shipped to your bitch-ass at:
%p
  %b First name:
  = @card.shipping_first_name
  %br
  %b Last name:
  = @card.shipping_last_name
  %br
  %b Address 1:
  = @card.shipping_address_1
  %br
  %b Address 1:
  = @card.shipping_address_2
  %br
  %b City:
  = @card.shipping_city
  %br
  %b State:
  = @card.shipping_state
  %br
  %b ZIP Code:
  = @card.shipping_zip
%p
%p If there's any fucking problem with that, email us, you dumbass.