%h5 YOU JUST ORDERED THE FUCKING SHIRTS BELOW
%table
  %tbody
    - if @card.card_items.any?
      - @card.card_items.each do |card_item|
        %tr
          %td{ style: "padding-top: 10px;" } #{card_item.count} #{card_item.size} #{card_item.color.black? ? 'Black on Black' : 'White on Grey' } 
          %td{ style: "padding-top: 10px;" } - 
          %td{ style: "padding-top: 10px;" } $#{card_item.price}
      %tr
        %td{ style: "padding-top: 10px;" } Shipping:
        %td{ style: "padding-top: 10px;" } 
        %td{ style: "padding-top: 10px;" } $#{SHIPPING_PRICE}
      %tr 
        %td{ style: "padding-top: 10px;" } Total:
        %td{ style: "padding-top: 10px;" } 
        %td{ style: "padding-top: 10px;" } $#{@card.total_price}

%br
%h5 YOUR ORDER IS BEING SHIPPED TO
%p #{@card.shipping_first_name} #{@card.shipping_last_name} 
%p #{@card.shipping_address_1} 
%p #{@card.shipping_address_2} 
%p #{@card.shipping_city}, #{@card.shipping_state}, #{@card.shipping_zip}

%br
%br

%h5 If there's any problem with that, you’re fucked. Reply to this email with the subject line “I Fucked up. I’m a fucking dumbass” and we just may be able to un-fuck you.
%p{ style: "font-size: 14px;" } Copyright 2015 FeelTheFuckingBern.com Bernie Fucking Sanders™