%p You just ordered the fucking shirts below:
%ul
  - @card.card_items.each do |card_item|
    %li #{card_item.count} #{card_item.size} - #{card_item.color.black? ? 'Black on Black' : 'White on Grey' } - $#{card_item.price}

%p Your order is being shipped to:
%p
  %b First name:
  = @card.shipping_first_name
  %br
  %b Last name:
  = @card.shipping_last_name
  %br
  %b Address 1:
  = @card.shipping_address_1
  %br
  %b Address 1:
  = @card.shipping_address_2
  %br
  %b City:
  = @card.shipping_city
  %br
  %b State:
  = @card.shipping_state
  %br
  %b ZIP Code:
  = @card.shipping_zip
%p
%p If there's any problem with that, you’re fucked. Reply to this email with the subject line “I Fucked up. I’m a fucking dumbass” and we just may be able to un-fuck you.
%p{ style: "font-size: 14px;" } Copyright 2015 FeelTheFuckingBern.com Bernie Fucking Sanders™