%body
  %header.admin-nav
    %nav.navbar.navbar-default{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => "#example-nav-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'Rad Progressive', admin_path, class: 'navbar-brand'
        #example-nav-collapse.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            = header_link 'Payments', admin_cards_path if user_signed_in?
            = header_link 'Admins', admin_users_path if user_signed_in?
            = header_link 'Backgrounds', admin_backgrounds_path if user_signed_in?
            = header_link 'Subscribes', admin_subscribes_path if user_signed_in?
            = header_link 'Sessions', admin_sessions_path if user_signed_in?
            = header_link 'Private Images', admin_private_images_path if user_signed_in?
        
            - if user_signed_in?
              %li= link_to "Logout", destroy_user_session_path, method: :delete
            - else
              %li= link_to "Login", new_user_session_path


