= simple_form_for @card, wrapper: :clean_form, remote: true do |f|
  %label Email address
  .row
    .col-5
    .col-40
      = f.input :email, input_html: { placeholder: 'Email Address' }
    .col-8
    .col-40
      = f.input :email_confirmation, input_html: { placeholder: 'Confirm Email' }
  .row
    .col-5
    .col-40
      %label Billing address
      = f.input :billing_first_name, input_html: { placeholder: 'First Name', "sync-with" => '#card_shipping_first_name' }
      = f.input :billing_last_name, input_html: { placeholder: 'Last Name', "sync-with" => '#card_shipping_last_name' }
      = f.input :billing_address_1, input_html: { placeholder: 'Address Line 1', "sync-with" => '#card_shipping_address_1' }
      = f.input :billing_address_2, input_html: { placeholder: 'Address Line 2', "sync-with" => '#card_shipping_address_2' }
      = f.input :billing_city, input_html: { placeholder: 'City', "sync-with" => '#card_shipping_city' }
      .clear
        .col-15.col-state
          = f.input :billing_state, input_html: { placeholder: 'ST', "sync-with" => '#card_shipping_state' }
        .col-65.col-zip.right
          = f.input :billing_zip, input_html: { placeholder: 'ZIP Code', "sync-with" => '#card_shipping_zip' }
    .col-8
    .col-40
      %label Shipping address
      = f.input :shipping_first_name, input_html: { placeholder: 'First Name' }
      = f.input :shipping_last_name, input_html: { placeholder: 'Last Name' }
      = f.input :shipping_address_1, input_html: { placeholder: 'Address Line 1' }
      = f.input :shipping_address_2, input_html: { placeholder: 'Address Line 2' }
      = f.input :shipping_city, input_html: { placeholder: 'City' }
      .clear
        .col-15.col-state
          = f.input :shipping_state, input_html: { placeholder: 'ST' }
        .col-65.right.col-zip
          = f.input :shipping_zip, input_html: { placeholder: 'ZIP Code' }
  
  - if @card.errors[:same_shiping].any?
    %label.same-shiping
      = @card.errors[:same_shiping].first
      %a.close{ data: { close: '.same-shiping' }, href: '#' } X

  .row
    .col-5
    .col-40.col-card-number
      = f.input :card_number, input_html: { placeholder: 'Card #' }
    .col-8
    .col-7.col-card-month
      = f.input :card_month, input_html: { placeholder: 'M' }
    .col-8
    .col-7.col-card-year
      = f.input :card_year, input_html: { placeholder: 'YR' }
    .col-8
    .col-9.col-card-cvv
      = f.input :card_cvv, as: :password, input_html: { placeholder: 'CVV' }
  
  .row.prices
    .col-10
    .col-20
    .col-25
    .col-30
      Total: $#{@session.total_price}

  .row.form-actions
    .col-5
    .col-45
      = link_to 'Back to cart', new_card_item_path, class: 'btn', remote: true
    .col-3
    .col-45
      %button.btn.btn-flag.ladda-button{ 'data-style' => 'expand-right', type: :submit }
        Check out now
  
  :javascript 
    if($(window).width() > 400) {
      Ladda.bind('.ladda-button')
    }


