.panel.subscribe.subscribe-new.order-list-panel
  .wrapper
    %h1 YOUR ORDER.
    .total-table
      - @session.card_items.without_card.each do |card_item|
        .row.prices
          .col-10
          .col-50 #{card_item.count}/#{card_item.size} #{card_item.color.black? ? 'Black on Black' : 'White on Grey' }
          .col-10
          .col-30 $#{card_item.price}
      .row.prices
        .col-10
        .col-50 Total:
        .col-10
        .col-25 $#{@session.total_price}