.panel.complete-order
  .wrapper
    .row.header
      .col-xs-3 Quantity
      .col-xs-3 Size
      .col-xs-3 Price
  
    - @session.card_items.without_card.each do |card_item|
      .row.body      
        .col-xs-3= card_item.count
        .col-xs-3= card_item.size
        .col-xs-3 $#{card_item.price}
    .bottom
      .row.body
        .col-xs-3
        .col-xs-3.label Shipping
        .col-xs-3 $#{SHIPPING_PRICE}
      .row.body
        .col-xs-3
        .col-xs-3.label Total
        .col-xs-3 $#{@session.total_price}
  .action
    = link_to 'Complete Order', new_card_path, class: 'btn', remote: true

          