!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = display_meta_tags site: 'Rad Progressive'
    = favicon_link_tag 'favicon.ico'
    %title Rad Progressive
    = include_gon
    = stylesheet_link_tag    'application', media: 'all'
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0", :name => "viewport"}/
    = javascript_include_tag 'application'
    = javascript_include_tag 'google_analytics' if Rails.env.production?
    = stripe_javascript_tag
    = csrf_meta_tag
  
  %body.front{ class: "#{yield(:body_classes)} #{controller_name}" }
    %img#backgrounds
    .container
      = yield
      = render 'subscribes/new'
