!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = display_meta_tags site: 'Rad Progressive'
    - set_meta_tags description: 'bernie fucking sanders shirt, bernie sanders, bernie fucking sanders, bernie sanders 2016, feel the bern, feelthebern'
    = favicon_link_tag 'favicon.ico'
    %title Rad Progressive
    = include_gon
    = stylesheet_link_tag    'application', media: 'all'
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0", :name => "viewport"}/
    = javascript_include_tag 'application'
    = javascript_include_tag 'google_analytics'
    = stripe_javascript_tag
    = csrf_meta_tag
    - if Rails.env.production?
      %script{ src: "//load.sumome.com/",  "data-sumo-site-id" => "e29dc20239a3ff0486aa21fae65b9f6514e50398fb8e0b0d7bba06aa71f40e45", async: "async" }
  
  %body.front{ class: "#{yield(:body_classes)} #{controller_name}" }
    %img#backgrounds
    .container
      = yield
      .order-list-wrapper
      .made-in-wrapper
        = image_tag 'made-in.png', class: 'made-in'
